<!DOCTYPE html>
<style>
    .wrapper span {
        width: 270px;
        display: inline-table;
    }

    .wrapper-top span {
    }

    .wrapper-elements {
        background-color: beige;
        border-top: ridge;
    }

    div .log_info {
        padding-left: 30px;
        padding-bottom: 30px;
        background-color: beige;
        width: 350px;
        border: groove;
        border-color: brown;
        margin-left: 30px;
    }
</style>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="wrapper">
    <span class="log_info">
    <h4>Channels log info:</h4>
        Total channels: {{ channels_log['total_channels'] }}<br>
        Last updated: {{ channels_log['log_cr_tm'] }}<br>
        New channels from last parse: {{ channels_log['new_items'] }}<br>
        Parsed successfully: {{ channels_log['log_status'] }}<br>
        Execution time: {{ channels_log['execution_time'] }}
        </span>
    <span class="log_info">
    <h4>Programs log info:</h4>

        Total programs: {{ programs_log['total_programs'] }}<br>
        Last updated: {{ programs_log['log_cr_tm'] }}<br>
        New programs from last parse: {{ programs_log['new_items'] }}<br>
        Parsed successfully: {{ programs_log['log_status'] }}
        Execution time: {{ programs_log['execution_time'] }}
        </span>

    <div class="wrapper-top"><h4>
        <span style="width: 30px"></span>
        <span class="channel_name">Channel name</span>
        <span class="channel_time">Creation date</span>
        <span class="channel_link">Link</span>
        <span class="channel_web_site">Web site</span>
        <span class="channel_description">Description</span></h4>
    </div>
    <br>
    {% for elem in db_elements %}
    <div class="wrapper-elements">
        <img src="{{ elem['icon_link'] }}" style="margin-bottom: -5px;width: 30px">
        <span class="channel_name">{{ elem['name']|safe }}</span>
        <span class="channel_cr_tm">{{ elem['cr_tm']|safe }}</span>
        <span class="channel_link">{{ elem['link']|safe }}</span>
        <span class="channel_web_site">{{ elem['web_site']|safe }}</span>
        <span class="channel_description">{{ elem['description']|safe }}</span>
    </div>
    <br>
    {% endfor %}
</div>
</body>
</html>
